$off-white: #faf9f6;
$black: #000000;
$red: #dd0000;
$yellow: #ffce00;

/* Common styles for elements */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  margin: 0;
}

.yellow-divider {
  width: 100%;
  background: $yellow;
  padding: 0;
}

/* Typography */
.highlighted-heading {
  position: relative;
  font-style: italic;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.0725rem;
}

.highlighted-heading::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: $yellow;
  z-index: -1;
}

button {
  text-align: center;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

p {
  font-family: 'Manrope';
  line-height: '120%';
  font-weight: '400';
  color: $black;
}

/*Sidebar*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 35%;
  height: 100%;
  background: $yellow;
  background: linear-gradient(
    180deg,
    rgba(255, 206, 0, 1) 0%,
    rgba(250, 249, 246, 1) 25%,
    rgba(250, 249, 246, 0) 100%
  );
  visibility: hidden;
}
.sidebar-nav a {
  color: $black;
  text-decoration: none;
  text-align: left;
  font-family: Manrope;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.show-sidebar {
  opacity: 0.95;
  visibility: visible;
  transition-property: opacity;
  transition-duration: 1s;
  z-index: 2;
}

/* Styles for mobile screens */
@media (min-width: 0px) {
  .yellow-divider {
    height: 2rem;
  }
}

@media (min-width: 480px) {
  .sidebar {
    width: 27%;
  }
}

/* Styles for 1280px+ screens (XLarge) */
@media (min-width: 1280px) {
  .yellow-divider {
    height: 3rem;
  }
}
